.container {
    background-color: var(--color-gray-milk-light);
    padding: var(--page-margins-y) 0 0;

    @media (min-width: 760px) {}

    @media (min-width: 1440px) {}
}

.heading {
    padding: 0 var(--page-margins-x);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    @media (min-width: 760px) {
        grid-template-columns: min-content auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "namePages slogan"
            ". button";
    }
}

.namePages {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--color-font-white-light);

    @media (min-width: 760px) {
        white-space: nowrap;
    }
}

.slogan {
    text-align: center;
    margin-bottom: 36px;
    color: var(--color-font-white);

    @media (min-width: 760px) {
        grid-area: slogan;
        width: 400px;
    }

    @media (min-width: 940px) {
        width: 560px;
    }

    @media (min-width: 1440px) {
        margin-bottom: 72px;
        width: 800px;
    }
}

.button {
    margin-bottom: 24px;

    @media (min-width: 760px) {
        justify-self: end;
        grid-area: button;
    }
}

.case {
    padding: 32px var(--page-margins-x);
    border-top: 1px solid var(--color-white-light);
    color: var(--color-font-white-light);

    @media (min-width: 760px) {
        display: grid;
        grid-template-columns: auto 640px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "number text"
            ". hashtags";
    }

    @media (min-width: 1440px) {
        padding: 56px var(--page-margins-x);
        grid-template-columns: auto 784px;
    }
}

.number {
    grid-area: number;
    margin-bottom: 28px;
    color: var(--color-font-white-light) !important;
}

.text {
    grid-area: text;
    color: var(--color-font-white-light);
    margin-bottom: 32px;
    text-transform: uppercase;
    transition: color .6s ease-in-out;

    @media (min-width: 1440px) {
        margin-bottom: 42px;
    }
}

.hashtags {
    text-transform: uppercase;
    grid-area: hashtags;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 16px;
    transition: color .6s ease-in-out;
}

.active {
    color: var(--color-font-white);
}