@font-face {
    font-family: 'Geist';
    src: url('/Geist-SemiBold.otf') format('opentype');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'MursGothic';
    src: url('/MursGothic-WideDark.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@media (max-width: 768px) {
    :root {
        --font-size: 14px; 
        --padding: 15px;   
        --background-color: lightgray; 
    }
}

@media (min-width: 769px) {
    :root {
        --font-size: 18px; 
        --padding: 25px;   
        --background-color: white; 
    }
}
*/

:root {
    --color-font-black: #2F2E2E;
    --color-font-gray: #5C4B42;
    --color-font-gray-light: rgba(128, 106, 95, 0.6);
    --color-font-white: #FFFFFF;
    --color-font-white-light: #FFFFFF99;

    --color-gray-milk-light: #806A5F;
    --color-gray-milk-light-btn: rgba(128, 106, 95, 0.1);
    --color-gray: #5C4B42;
    --color-gray-dark: #493B34;
    --color-gray-light: #F6F0E9;
    --color-brown-light: #E5E2E0;
    --color-white-light: rgba(255, 255, 255, 0.1);

    --page-margins-x: 16px;
    --page-margins-y: 48px;

    @media (min-width: 760px) {
        --page-margins-x: 32px;
        --page-margins-y: 64px;
    }

    @media (min-width: 1440px) {
        --page-margins-x: 56px;
        --page-margins-y: 96px;
    }
}

.h1-sm {
    font-family: MursGothic;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-font-black);
    text-transform: uppercase;

    @media (min-width: 960px) {
        font-size: 32px;
    }

    @media (min-width: 1440px) {
        font-size: 48px;
    }
}

.h5-md {
    font-family: MursGothic;
    font-size: 12px;
    line-height: 148%;

    @media screen and (min-width: 960px) {
        font-size: 14px;
    }
}

.h4-md {
    font-family: MursGothic;
    font-size: 14px;
    line-height: 148%;
    color: var(--color-font-gray);

    @media screen and (min-width: 960px) {
        font-size: 16px;
    }
}

.h3-md {
    font-family: MursGothic;
    font-size: 18px;
    line-height: 148%;
    color: var(--color-font-white);

    @media screen and (min-width: 1440px) {
        font-size: 24px;
    }
}

.h2-md {
    font-family: MursGothic;
    font-size: 20px;
    line-height: 128%;
    color: var(--color-font-gray);

    @media (min-width: 1140px) {
        font-size: 28px;
    }
}

.text1 {
    font-family: Geist;
    text-transform: none;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-font-black);

    @media screen and (min-width: 1440px) {}
}

.text2 {
    font-family: Geist;
    text-transform: none;
    font-size: 14px;
    line-height: 140%;
    color: var(--color-font-gray);
}

/* CSS RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* box-sizing: border-box; */
}

html {
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'Geist';
    background-color: var(--color-gray-milk-light);
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

q,
blockquote {
    quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
    content: "";
}

a img {
    border: none;
}