.container {
    width: 100%;
    background-color: #fff;

    @media (min-width: 760px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.secondContainerBlock {
    width: calc(100% - 32px);
    margin: 48px auto 0;
    padding-bottom: 48px;

    @media (min-width: 760px) {
        padding: 0 var(--page-margins-x);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.allContent {
    @media (min-width: 1920px) {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.containerImg {
    position: relative;
}

.img {
    width: 100%;
    max-height: 100vh;

    @media (min-width: 760px) {
        width: 320px;
    }

    @media (min-width: 1200px) {
        width: 380px;
    }

    @media (min-width: 1440px) {
        width: 486px;
    }

    @media (min-width: 1920px) {
        width: 600px;
    }
}

.blockHide {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--color-gray);

    transform: translateY(0);
    animation: slideUp 1.5s ease-in-out forwards;
    animation-delay: 200ms;
}

@keyframes slideUp {
    to {
        transform: translateY(-660px);
    }
}

@media (min-width: 500px) {
    @keyframes slideUp {
        to {
            opacity: 0;
            transform: translateY(-105vh);
        }
    }
}

.name {
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--color-font-gray-light);
    width: max(340px, 76%);
    text-align: right;

    @media (min-width: 960px) {
        margin-top: 24px;
        margin-bottom: 73px;
    }
}

.wordAnimation {
    transform: translateY(-30px);
    animation: wordUp 1s ease-in-out forwards;
    animation-delay: 600ms;

    @media (min-width: 960px) {
        transform: translateY(-60px);
    }
}

@keyframes wordUp {
    to {
        transform: translateY(2px);
    }
}

.descripton {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 960px) {
        margin-bottom: 26px;
        justify-content: space-between;
        flex-direction: row;
    }

    @media (min-width: 1440px) {
        gap: 24px;
        margin-bottom: 56px;
    }

    @media (min-width: 1920px) {
        margin-bottom: 0px;
        gap: 50px;
    }
}

.button {
    @media (min-width: 960px) {
        width: min-content !important;
        margin-left: auto;
        text-wrap: nowrap;
    }
}